trigger:
- main

variables:
  azureServiceConnection: 'api-connection'
  functionAppName: 'api-practice'
  resourceGroupName: 'apipractice'
  apimInstanceName: 'api-manager-practice'
  apiId: '/subscriptions/07adb306-0b43-4d3a-ad8f-2130490a2ba9/resourceGroups/apipractice/providers/Microsoft.Web/sites/api-practice'

# We can define the pool at the top level to avoid repeating it in every job
pool:
  name: 'Default'
  demands:
    - Agent.Name -equals RAYANS_PC

stages:
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
      artifact: drop

- stage: Deploy
  jobs:
  - deployment: DeployFunction
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureFunctionApp@1
            inputs:
              azureSubscription: '$(azureServiceConnection)'
              appType: 'functionAppLinux'
              appName: '$(functionAppName)'
              package: '$(Pipeline.Workspace)/drop/$(Build.BuildId).zip'

- stage: SyncAPIM
  dependsOn: Deploy
  jobs:
  - job: UpdateAPIM
    steps:
    - task: AzureCLI@2
      displayName: 'Import Function App to APIM'
      inputs:
        azureSubscription: '$(azureServiceConnection)'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          echo "Waiting 30 seconds for Function App to warm up..."
          sleep 30
          
          az apim api import \
            --resource-group "$(resourceGroupName)" \
            --service-name "$(apimInstanceName)" \
            --path "v1" \
            --api-id "$(apiId)" \
            --specification-format "OpenApiJson" \
            --specification-url "https://$(functionAppName).azurewebsites.net/api/swagger.json"